<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=ANALYZER;Data Source=bca.crflptqqhzef.us-east-2.rds.amazonaws.com;Initial Catalog=BCA;User ID=treydockery;Password=Tr3yd0ck3ry;Connect Timeout=30" providerName="Microsoft.EntityFrameworkCore.SqlServer" />
    <!--<add name="DefaultConnection" connectionString="Data Source=mssql.dockeryfamily.com;Initial Catalog=treydock_BCA;User ID=treyd_BCA;Password=Tr3yd0ck3ry;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=192.185.7.79;Initial Catalog=treydock_BCA;User ID=treyd_BCA;Password=Tr3yd0ck3ry;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
</configuration>